name: Publish App to GHCR

on:
  push:
    branches: [main]
    tags:
      - "v*"
    paths:
      - ".github/workflows/publish-app.yml"
      - ".python-version"
      - "Dockerfile"

  workflow_dispatch:

env:
  IMAGE_NAME: ${{ github.repository }}/app
  REGISTRY: ghcr.io

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=sha,prefix={{branch}}-
            type=raw,value=latest,enable={{is_default_branch}}
          labels: |
            maintainer=CERIT-SC
            org.opencontainers.image.url=https://github.com/${{ github.repository }}
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.vendor=CERIT-SC
            org.opencontainers.image.title=fed-wes
            org.opencontainers.image.description=WES API for federated compute.
            org.opencontainers.image.documentation=https://docs.cerit.io/
            org.opencontainers.image.authors=CERIT-SC
            org.opencontainers.image.licenses=MIT

      - name: Build and Push App Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          provenance: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
